name: Cocotb + pyuvm CI (Icarus)

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python (with pip cache)
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y iverilog
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cpu
      - name: Clean
        run: make cleanall

      - name: Build + Run cocotb tests
        run: |
          PYTHONPATH=$PWD:$PWD/pyuvm_components:$PWD/strategy:$PWD/utils \
          make SIM=icarus COCOTB_TEST_MODULES=pyuvm_components.test